doctype html
html
  head
    title= title
    link(rel='stylesheet' href='css/index.css')
  body
    #header
      section.left: h1= title
      section.right
        a(href='/login') login
    #root
    script(src='js/bundle.js')