doctype html
html
  head
    title login
  body
    h1 login
    form(action='./login' method='POST')
      label name
      input(type='text' name='name')
      br
      label password
      input(type='password' name='pass')
      br
      input(type='submit' value='login')